$blue: rgb(26, 144, 255);
$black: rgba(0, 0, 0, 0.79);
$buttonGreen: rgb(82, 186, 168);
$grey: #D9D9D9;

$font-stack: Arial;

 @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap'); 

.page {
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    position: relative;

}
